/*Aufgabe: Aufgabe 0
Name: Sarah Lönnqvist
Matrikel: (259116)
Datum: 04.10.2018
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Charmonman');

html {
	width: 70%;
	margin: auto;
	border: 1px solid #00b359;
	background-color: #f2f2f2;
}

header {
	position: sticky;
	left: 0em;
	top: 0em;
	z-index: 10;
	background-color: #00cc66;
	padding: 0.2em 0em 0.8em 0em;
	height: 60px;
	width: 100%;
	box-shadow: 0 8px 8px -8px black;
}

span {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 2.3em;
	color: #00331a;
}

li {
	color: #00331a;
	list-style: none;
	padding-right: 2em;
}

body {
	margin: 0em;
	background-color: #b3ffb3;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-size: 1.5em;
	color: #00331a;
}

h1 {
	font-size: 1.4em;
	margin-top: 1.5em;
	text-align: center;
	color: #00331a;
}

h2 {
	color: #00331a;
	margin: 3em 0em 0em 0.5em;
	position: relative;
	left: 5.5%;
	bottom: 0em;
}

article {
	width: 40%;
	height: 20em;
	background-color: #f0fff0;
	float: left;
	border-radius: 5%;
	position: relative;
	left: 5.1%;
	bottom: 0em;
	border: 1px solid #00b359;
	margin: 1% 2% 1% 1%;
	padding: 0.5em 0.5em 1.0em 0.5em;
	font-weight: bold;
}

p {
	padding-top: 1.5em;
	text-align: center;
	color: #009f50;
}

img {
	display: block;
	max-width: 100%;
	height: 15em;
	border-radius: 5%;
	margin: auto;
}

footer {
	clear: left;
	height: 10em;
	width: 100%;
}

.text {
	font-family: 'Charmonman', cursive;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #00b359;
	text-decoration: underline;
}

/* dropdown */
#burger {
	position: absolute;
	top: 10px;
	left: 2em;
	max-height: 50px;
}

.dropbtn {
	width: 35px;
	height: 5px;
	background-color: #00331a;
	margin: 6px 0;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 50px;
	background-color: #00cc66;
	min-width: 160px;
	box-shadow: 0 8px 8px -8px black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*Tablets*/
@media screen and (max-width: 1024px) {
	html {
		width: 100%;
		border: none;
		background-color: #b3ffb3;
	}
}

/*mobile*/
@media screen and (max-width: 769px) {
	html {
		width: 100%;
		border: none;
		background-color: #b3ffb3;
	}
	article {
		width: 80%;
		height: 20em;
		background-color: #f0fff0;
		float: left;
		border-radius: 5%;
		position: relative;
		left: 0%;
		bottom: 0%;
		border: 1px solid #00b359;
		margin: 1% 7% 1% 7%;
		padding: 0.5em 0.5em 1.0em 0.5em;
		font-weight: bold;
	}
	header {
		position: static;
		left: 0em;
		top: 0em;
		z-index: 10;
	}
	#burger {
		position: absolute;
		top: 10px;
		left: 0.5em;
		max-height: 50px;
	}
}